@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@100;200;400;500;600;700;800&display=swap');

/*sharing styles*/
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*header styles*/
nav {
    /* 
    height: 130px;
 */
    padding: 20px 180px;
    display: flex;
    justify-content: space-between;
    /*  border: 2px solid orange; */
}

nav>div {
    display: flex;
}

.image-1 {
    width: 86px;
    height: 40px;
    margin-right: 20px;

}

.demo {
    /* border: 2px solid orange; */
    height: 40px;
}

.header-tittle {
    /*  border: 2px solid orange; */
    /* font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 */
}

.header-extension>p {
    margin-right: 30px;
}

.header-icon {
    display: flex;
    width: 260px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    padding: 0px 24px;
}

.header-icon>p {
    margin-right: 25px;

}

.icon {
    /* border: 1px solid orange; */

}

#youtube-icon {
    /*  width: 34px;
    height: 24px; */
    margin-right: 20px;
}

#tiktok-icon {
    /* width: 24px;
    height: 24px; */
    /* border: 1px solid orange; */
}

/* main section-1 */
section {
    display: flex;
    /*  border: 2px solid orange; */
    gap: 68px;
    /*  height: 600px; */
}

.section-container-1 {

    /* border: 2px solid orange; */
    padding: 120px 180px;
}

.sign-in-tittle {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.sign-in-head {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section>p {
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.sign-in-picture {
    text-align: center;
    padding-top: 60px;
    padding-right: 180px;

}

.sign-in-picture>img {
    width: 100%;
    height: 100%;
}

.pink-btn {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
}

.purple-btn {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
}

/*section-2*/
.section-2 {
    display: flex;
    gap: 52px;
    padding: 40px 180px;
}

.section-2-head {
    /* text-align-last: right; */
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-container-2 {
    text-align-last: right;
}

.describes {
    color: #534C64;
    /* font-size: 16px;
font-weight: 400;
line-height: 30px; */
}

.describes-2 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.describes-3 {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
}

.extra-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
}

/*section-3*/
.section-3 {
    padding: 90px 180px;
    display: block;
}

.fun-videos-head {
    text-align: center;
}

.fun-head {
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;

}

.primary-clr {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fun-describ {
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 30px; */
    padding-bottom: 20px;
}

.fun-videos {
    display: flex;
    gap: 10px;
}

/* .fun-videos>img {
    width: 250px;
    height: 300px;

} */
.fun-img-1,
.fun-img-2,
.fun-img-3,
.fun-img-4 {
    display: block;
}
